In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("the_office_series.csv", index_col = 0)

In [3]:
df.head()

,Season,EpisodeTitle,About,Ratings,Votes,Viewership,Duration,Date,GuestStars,Director,Writers
0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,24 March 2005,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,29 March 2005,NaN,Ken Kwapis,B. J. Novak
2,1,Health Care,Michael leaves Dwight in charge of picking the...,7.8,4024,5.8,22,5 April 2005,NaN,Ken Whittingham,Paul Lieberstein
3,1,The Alliance,"Just for a laugh, Jim agrees to an alliance wi...",8.1,3915,5.4,23,12 April 2005,NaN,Bryan Gordon,Michael Schur
4,1,Basketball,Michael and his staff challenge the warehouse ...,8.4,4294,5.0,23,19 April 2005,NaN,Greg Daniels,Greg Daniels

In [4]:
df.dtypes

Season            int64
EpisodeTitle     object
About            object
Ratings         float64
Votes             int64
Viewership      float64
Duration          int64
Date             object
GuestStars       object
Director         object
Writers          object
dtype: object

In [5]:
df["Date"] = pd.to_datetime(df["Date"])
df.head(1)

,Season,EpisodeTitle,About,Ratings,Votes,Viewership,Duration,Date,GuestStars,Director,Writers
0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels

In [6]:
df_writers = df.assign(Writers=df.Writers.str.split("|")).explode('Writers')

In [7]:
df_writers = df_writers.assign(Writers=df_writers.Writers.str.split("and")).explode('Writers')

In [12]:
df_writers.head()

,Season,EpisodeTitle,About,Ratings,Votes,Viewership,Duration,Date,GuestStars,Director,Writers
0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,NaN,Ken Kwapis,Ricky Gervais
0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,NaN,Ken Kwapis,Stephen Merchant
0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,NaN,Ken Kwapis,Greg Daniels
1,1,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,2005-03-29,NaN,Ken Kwapis,B. J. Novak
2,1,Health Care,Michael leaves Dwight in charge of picking the...,7.8,4024,5.8,22,2005-04-05,NaN,Ken Whittingham,Paul Lieberstein

In [13]:
print(df.shape, df_writers.shape)

(188, 11) (232, 11)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188 entries, 0 to 187
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Season        188 non-null    int64
 1   EpisodeTitle  188 non-null    object
 2   About         188 non-null    object
 3   Ratings       188 non-null    float64
 4   Votes         188 non-null    int64
 5   Viewership    188 non-null    float64
 6   Duration      188 non-null    int64
 7   Date          188 non-null    datetime64[ns]
 8   GuestStars    29 non-null     object
 9   Director      188 non-null    object
 10  Writers       188 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(3), object(5)
memory usage: 17.6+ KB

In [15]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Season,188.0,5.468085,2.386245,1.00,3.00,6.000,7.250,9.00
Ratings,188.0,8.237234,0.589930,6.60,7.80,8.200,8.600,9.80
Votes,188.0,2838.228723,1063.165290,1832.00,2187.75,2614.000,3144.250,10515.00
Viewership,188.0,7.246330,2.066012,3.25,5.99,7.535,8.425,22.91
Duration,188.0,27.053191,6.937254,19.00,22.00,23.000,30.000,60.00

In [16]:
df.describe(include = "object").T

,count,unique,top,freq
EpisodeTitle,188,188,Pilot,1
About,188,188,The premiere episode introduces the boss and s...,1
GuestStars,29,28,Amy Adams,2
Director,188,54,Randall Einhorn,15
Writers,188,47,Mindy Kaling,20

In [20]:
df.isnull().sum()

Season            0
EpisodeTitle      0
About             0
Ratings           0
Votes             0
Viewership        0
Duration          0
Date              0
GuestStars      159
Director          0
Writers           0
dtype: int64

In [21]:
df_clean = df.fillna("Nobody")

In [22]:
df_clean.isnull().sum()

Season          0
EpisodeTitle    0
About           0
Ratings         0
Votes           0
Viewership      0
Duration        0
Date            0
GuestStars      0
Director        0
Writers         0
dtype: int64

In [23]:
df_clean.head()

,Season,EpisodeTitle,About,Ratings,Votes,Viewership,Duration,Date,GuestStars,Director,Writers
0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,Nobody,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,2005-03-29,Nobody,Ken Kwapis,B. J. Novak
2,1,Health Care,Michael leaves Dwight in charge of picking the...,7.8,4024,5.8,22,2005-04-05,Nobody,Ken Whittingham,Paul Lieberstein
3,1,The Alliance,"Just for a laugh, Jim agrees to an alliance wi...",8.1,3915,5.4,23,2005-04-12,Nobody,Bryan Gordon,Michael Schur
4,1,Basketball,Michael and his staff challenge the warehouse ...,8.4,4294,5.0,23,2005-04-19,Nobody,Greg Daniels,Greg Daniels