In [41]:
import pandas as pd
import requests

In [42]:
# Request made to the The Office API to get the data.
url = "https://officeapi.dev/api/characters/"
res = requests.get(url)
res.status_code
test_res = res.json()

In [43]:
# Creating a list of the values in the dictionary.
l = []
for d in test_res:
    for value in test_res.values():
        l.append(value)
l = l[0]

In [44]:
l[:2]

[{'_id': '5e93b4a43af44260882e33b0',
  'firstname': 'Michael',
  'lastname': 'Scott',
  '__v': 0},
 {'_id': '5e93b4f03af44260882e33b1',
  'firstname': 'Jim',
  'lastname': 'Halpert',
  '__v': 0}]

In [45]:
df = pd.DataFrame(l)
df.head()

                        _id firstname lastname  __v
0  5e93b4a43af44260882e33b0   Michael    Scott    0
1  5e93b4f03af44260882e33b1       Jim  Halpert    0
2  5e93b4fa3af44260882e33b2    Dwight  Schrute    0
3  5e93b50a3af44260882e33b3       Pam   Beesly    0
4  5e93b5183af44260882e33b4      Ryan   Howard    0

In [46]:
# Dropping the columns "__v" and "_id" from the dataframe, as the information is not relevant for the analysis
df.drop(["__v", "_id"], axis = 1, inplace = True)

In [47]:
# Replacing the lastname Minor with Miner, as Minor is not the correct last name for Charles Miner
df.loc[df["lastname"] == "Minor", "lastname"] = "Miner"

In [48]:
df = df.rename(columns = {"firstname": "first_name", "lastname": "last_name"})

In [49]:
df["complete_name"] = df["first_name"] + " " + df["last_name"]
df.head()

  first_name last_name   complete_name
0    Michael     Scott   Michael Scott
1        Jim   Halpert     Jim Halpert
2     Dwight   Schrute  Dwight Schrute
3        Pam    Beesly      Pam Beesly
4       Ryan    Howard     Ryan Howard

In [50]:
# Dropping rows 25 and 27, that contained incorrect information
update_df = df.drop([25, 27])

In [51]:
update_df.tail()

   first_name last_name     complete_name
21    Charles     Miner     Charles Miner
22   Deangelo   Vickers  Deangelo Vickers
23       Josh    Porter       Josh Porter
24         Ed     Truck          Ed Truck
26      David   Wallace     David Wallace

In [52]:
update_df.to_csv('../data/apiextraction.csv', index=False)