In [8]:
import pandas as pd
import numpy as np
import sys
sys.path.append("../")

import src.support as sp

In [9]:
# Importing a csv file that contains all the lines said in the show
lines = pd.read_csv("../data/the_office_lines.csv")
lines.tail(3)

,id,season,episode,scene,line_text,speaker,deleted
59906,59907,9,23,114,I���m happy that this was all filmed so I can ...,Phyllis,False
59907,59908,9,23,115,I sold paper at this company for 12 years. My ...,Jim,False
59908,59909,9,23,116,I thought it was weird when you picked us to m...,Pam,False

In [10]:
# Function that prints the shape, columns, missing values, data types, head, and describe of a dataframe
sp.analyze_dataframe(lines)

Shape: (59909, 7)

Columns: Index(['id', 'season', 'episode', 'scene', 'line_text', 'speaker', 'deleted'], dtype='object')

Missing values: id           0
season       0
episode      0
scene        0
line_text    0
speaker      0
deleted      0
dtype: int64

Data types: id            int64
season        int64
episode       int64
scene         int64
line_text    object
speaker      object
deleted        bool
dtype: object

Head:    id  season  episode  scene  \
0   1       1        1      1
1   2       1        1      1
2   3       1        1      1
3   4       1        1      1
4   5       1        1      1

                                           line_text  speaker  deleted
0  All right Jim. Your quarterlies look very good...  Michael    False
1         Oh, I told you. I couldn't close it. So...      Jim    False
2  So you've come to the master for guidance? Is ...  Michael    False
3         Actually, you called me in here, but yeah.      Jim    False
4    All right. Well, let me show you how it's done.  Michael    False

Describe:                  id        season       episode         scene
count  59909.000000  59909.000000  59909.000000  59909.000000
mean   29955.000000      5.348178     11.558597     27.143852
std    17294.382975      2.389427      6.986208     17.860616
min        1.000000      1.000000      1.000000      1.000000
25%    14978.000000      3.000000      5.000000     14.000000
50%    29955.000000      5.000000     11.000000     25.000000
75%    44932.000000      7.000000     18.000000     37.000000
max    59909.000000      9.000000     26.000000    116.000000

In [11]:
# Dropping deleted scenes (where values for "deleted" are True)
lines = lines[(lines["deleted"] == False)]
lines.head()

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [12]:
# Making all the speaker names lowercase, in order to identify possible repeated values
lines['speaker'] = lines.speaker.str.lower()

In [13]:
lines.loc[[5]]

,id,season,episode,scene,line_text,speaker,deleted
5,6,1,1,2,"[on the phone] Yes, I'd like to speak to your ...",michael,False

In [14]:
# Creating a new column called "action", and extracting the values on the line_text column that are inside square brackets
lines["action"] = lines["line_text"].str.extract("(\s*\[.*?\]\s*)", expand=True)
# Removing the text that I just extracted from the "line_text" column
lines["line_text"] = lines["line_text"].str.replace(r"(\s*\[.*?\]\s*)", " ", regex=True)

In [15]:
# Here you can see how the fifth row has changed
lines.loc[[5]]

,id,season,episode,scene,line_text,speaker,deleted,action
5,6,1,1,2,"Yes, I'd like to speak to your office manager...",michael,False,[on the phone]

In [16]:
lines.loc[[59906]]

,id,season,episode,scene,line_text,speaker,deleted,action
59906,59907,9,23,114,I���m happy that this was all filmed so I can ...,phyllis,False,NaN

In [17]:
# Replacing "���" for quote marks
lines["line_text"] = lines["line_text"].str.replace("���", "'")

In [18]:
# Here you can see how this row has changed
lines.loc[[59906]]

,id,season,episode,scene,line_text,speaker,deleted,action
59906,59907,9,23,114,I'm happy that this was all filmed so I can re...,phyllis,False,NaN

In [19]:
# There are quite some errors when we observe unique values. For example, Michael also appears as "Michel" or "Micheal"
lines["speaker"].unique()

array(['michael', 'jim', 'pam', 'dwight', 'jan', 'michel', 'todd packer',
       'phyllis', 'stanley', 'oscar', 'angela', 'kevin', 'ryan', 'man',
       'roy', 'mr. brown', 'toby', 'kelly', 'meredith', 'travel agent',
       'man on phone', 'everybody', 'lonny', 'darryl', 'teammates',
       'michael and dwight', 'warehouse worker', 'madge', 'worker',
       'katy', 'guy at bar', 'other guy at bar', 'pam and jim',
       'employee', "chili's employee", "kevin's computer",
       'warehouse guy', 'warehouse guys', 'video', 'man in video',
       'actor', 'redheaded actress', "mr. o'malley", 'albiny',
       "pam's mom", 'carol', 'bill', 'everyone', 'crowd', 'song',
       'dwight and michael', 'sherri', 'creed', 'devon', 'children',
       'kid', 'hank the security guard', 'ira', "ryan's voicemail",
       'master', 'christian', 'hostess', 'michael and christian',
       'sadiq (it guy)', 'mark', 'improv teacher', 'mary-beth',
       'girl acting pregnant', 'actress', 'michael and jim',
       'kevin & oscar', 'all', 'liquor store clerk', 'bob vance',
       'phyllis, meredith, michael, kevin', 'captain jack', 'brenda',
       'darryl and katy', 'jim and pam', 'billy merchant', 'doctor',
       'lab tech', 'dana', "hooter's girls", 'phylis', 'gil',
       'pam and others', 'ed', 'packer', 'todd', "jim's voicemail",
       'women', 'guy', 'men', 'group chant', 'all the men',
       'delivery man', 'craig', 'josh', 'david', 'dan', 'overhead',
       'speaker', 'jim and dwight', 'melissa', 'sasha', 'abby', 'jake',
       'the kids', 'kids', 'miss trudy', 'edward r. meow', 'chet',
       'young michael', 'delivery woman', 'delivery boy', 'office staff',
       'store employee', 'pam/jim', 'linda', 'hank', 'i.d. photographer',
       'photographer', 'anglea', 'female worker', "billy's girlfriend",
       'billy', 'dealer', 'bob', 'andy', 'karen', 'jerome bettis', 'ted',
       'waiter', 'jim, josh, and dwight', 'evan', 'alan',
       'ryan and others', 'hannah', 'announcer', 'pretzel guy',
       'cousin mose', 'tony', 'server', 'girls', "kelly's mom",
       "kelly's father", 'young man', 'andy and jim', 'mrs. kapoor',
       'mr. kapoor', 'dwight ', 'm ichael', 'michael ', 'dwight:',
       'martin', 'male voice', 'michael & dwight', 'andy & michael',
       'waitress', 'chef', 'woman at bar', 'cindy', 'second cindy',
       'other waitress', 'andy and michael', 'both', 'someone', 'harvey',
       'buyer', 'kenny', 'julius', 'phone', 'staples guy', 'lady',
       'paris', 'marcy', 'ben franklin', 'elizabeth', 'priest',
       'uncle al', 'randy', 'unknown', 'college student',
       'business student #1', 'business student #2',
       'business student #3', 'woman', 'artist', 'student 1', 'student 2',
       'student 3', 'rachel', 'dan gore', 'bartender', 'child', 'hunter',
       'darry', 'micheal', 'larry', 'chad lite', 'jamie', 'barbara',
       'school official', 'barbara allen', 'spanish teacher', 'denise',
       'group', 'receptionist', 'it tech guy', 'nurse', 'intern',
       'pediatrician', 'robert dunder', 'amy', 'gps', 'larry myers',
       'ex-client', 'voice of thomas dean', 'sandy', 'dunmiff/sys',
       'dwightkschrute', 'tech guy', 'angels', 'pizza guy', 'manager',
       'voice #1 on phone', 'voice #2 on phone', 'micahel', 'michae',
       'nick', 'mose', 'co-worker 1', 'stanely', 'micael', 'vikram',
       'co-worker 2', 'co-worker 3', 'mr. figaro', 'oscar and stanley',
       'ad guy 1', 'ad guy 2', 'david wallace',
       'andy, creed, kevin, kelly, darryl', 'andy, creed, kevin, kelly',
       "michael's ad", 'rolando', 'ben', 'security guard', 'lester',
       'diane kelly', 'diane', 'deposition reporter', 'council',
       "hunter's cd", 'officer 1', 'officer 2', 'officer', 'neighbor',
       "wendy's phone operator", 'margaret', 'coffee shop worker',
       'jan [on phone]', 'w.b. jones', 'paul faust', 'bill cress', 'paul',
       'michael/dwight', 'troy', 'girl in club', 'tall girl #1',
       'all girls', 'tall girl #2', 'girl in 2nd club', 'cleaning lady',
       'michael and darryl', 'phil maguire', 'phil', 'justin',
       'angela and dwight', 'maguire', 'woman on mic', 'graphics guy',
       'brad', 'air force recruiter', 'holly', 'woman over speakerphone',
       'vance refrigeration guy', 'holy', 'co-workers', 'ronnie',
       'professor', 'friend', 'jim9334 [screen name]',
       'receptionitis15 [screen name]', 'jim9334', 'receptionitis15',
       'michael & holly', 'dight', 'kendall', 'michael [on phone]',
       'pam [on phone]', 'hank [the security guard]', 'guy in audience',
       'michael and holly', 'michael, holly, and darryl', 'tom', 'pete',
       'holly & darryl', 'holly & michael', 'mother', 'alex', 'customer',
       'kevin & andy', 'stanley & phyllis', 'stewardess', 'beth',
       'concierge', 'marie', 'guy at table', 'concierge marie', 'client',
       'dacvid walalce', 'david wallcve', 'dacvid wallace', 'leo',
       'police officer 1', 'police officer 2', 'guy buying doll',
       'rehab nurse', 'everyone watching', 'entire prince family',
       'prince grandfather', 'entire office', 'jim ', 'prince',
       'prince granddaughter', 'prince grandmother', 'prince son',
       'phyllis and creed', 'lawyer', 'cpr trainer', 'rose',
       'jessica alba', 'lily', 'sam', 'warehouse michael', 'julia',
       'a.j.', 'phone salesman', 'jim, pam, michael and dwight',
       'blood drive worker', 'blood girl', 'lynn', 'blonde', 'eric',
       'girl', 'charles', 'stephanie', 'employees', 'isaac',
       'angela and kelly', 'supervisor', 'michal', 'nana', 'chares',
       'old woman', 'erin', 'dwight and erin', 'dwight and andy',
       'michael, pam & ryan', 'secretary', 'automated phone voice',
       'mr. schofield', 'financial guy', 'ty', 'jessica',
       'vance refrigeration guy 1', 'vance refrigeration guy 2', 'vrg 1',
       'vrg 2', 'rolph', 'aj', 'man from buffalo', 'woman from buffalo',
       'dwight & andy', 'female intern', 'maurie', 'dwight, jim & pam',
       'jim & pam', 'megan', 'gwenneth', 'front desk clerk',
       'mr. halpert', 'mema', 'mr. beesly', 'little girl', 'penny',
       'isabel', 'hotel employee', 'hotel manager', 'tom halpert',
       'pete halpert', 'tom and pete', "pam's dad", 'grotti',
       'andy and dwight', 'credit card rep', 'rep', 'various',
       'keena gifford', 'helene', "david wallace's secretary",
       'voice on cd player', 'limo driver', 'laurie', 'registrar',
       'security', 'woman in line', 'man in line', 'shareholder',
       'female shareholder', 'second shareholder', 'third shareholder',
       'fourth shareholder', "o'keefe", 'mikela', 'students', 'teacher',
       'lefevre', 'zion', 'deliveryman', 'michael and erin', 'daryl',
       'office', 'kelly and erin', 'matt', 'computron', 'fake stanley',
       'gabe', 'andy & erin', 'christian slater', 'jo bennett', 'jo',
       'jerry', 'teddy wallace', 'mrs. wallace', 'teddy',
       'dwight, jim and michael', 'policeman', 'hospital employee',
       "(pam's mom) heleen", 'kathy', 'dale', 'clark', 'isabelle', 'd',
       'warehouse guy 1', 'warehouse guy 2', 'reid',
       'night cleaning crew', 'meredith, creed, oscar and matt',
       'miichael', 'julie', 'hide', 'bar manager', 'bouncer',
       'girl at table', 'cookie monster', 'dwight.', "hayworth's waiter",
       "oscar's voice from the computer", 'donna', 'michael and donna',
       'mihael', 'old lady', 'glen', 'gym instructor',
       'dwight and angela', 'shane', 'reporter', 'realtor', 'luke',
       'window treatment guy', 'angel', 'salesman', 'usher', 'shelby',
       'sweeney todd', 'mexican man', 'son', 'nate',
       'employees except dwight', 'astrid', 'carroll', 'carrol', 'danny',
       'steve', 'darryl and andy', 'church congregation', 'pastor',
       'female church member', 'male church member',
       'female church member [to michael]', 'doug [church member]',
       'doug', 'mee-maw', 'meemaw', 'carla', "jim's dad", 'bus driver',
       'michael and andy', 'another guy', 'radio', 'cece', 'tv',
       'meridith', 'robotic voice', 'ryan and michael', 'phyliss',
       'dwight & nate', 'passer-by', 'pam ', 'bass player', 'justine',
       'jada', 'robert', 'darrly', 'member', 'video michael',
       'bookstore employee', 'dj', 'david brent', 'older guy',
       'phyllis, stanley, dwight', 'younger guy', 'older woman',
       'professor powell', 'ryan and kelly', 'helen', 'attendant',
       'hot dog guy', 'cell phone sales person', 'boom box',
       'andy and erin', "holly's mom", "holly's dad", 'deangelo',
       'deangelo/michael', 'denagelo', "darryl's sister", 'audience',
       'together', 'erin and kelly', 'abe', 'rory', 'deagnelo', 'jordan',
       'dwight [on phone]', 'mose [on phone]', 'all but oscar',
       'darryl and angela', 'fred henry', 'fred', 'warren buffett',
       'warren', 'robert california', 'merv bronte', 'merv',
       'nellie bertram', 'nellie', 'finger lakes guy',
       'pam as fourth-biggest client', 'pam as ninth-biggest client',
       'darryl & oscar', 'tattoo artist', 'female applicant',
       'male applicant 1', 'male applicant 2', 'gideon', 'bruce',
       'dwight, erin, jim & kevin', 'walter', 'ellen', 'walter jr',
       'andy & walter', 'walter & walter jr', "erin's cell phone", 'bert',
       'gabe/kelly/toby', 'andy/pam', 'andy/stanley', 'val',
       'warehouse crew', 'cathy', 'offscreen', 'curtis', 'drummer',
       'pam and kelly', 'old man', 'andy and darryl', 'darryl and kevin',
       'park ranger', 'chelsea', 'archivist', 'narrator', 'soldier',
       'amanda', 'susan', 'andy/oscar', "bob's secretary",
       'mrs. california', 'host', 'queerenstein bears', "oscar's friend",
       'stu', 'stonewall host', 'meredith & kelly', 'einsteins',
       'senator lipton', 'ernesto', 'officer foley',
       'andy, darryl & officer foley', 'saleswoman', 'emergency operator',
       'paramedic', 'donna muraski', 'wally amos', 'angela/pam',
       'brandon', 'blogger', 'blogger 2', 'lady blogger', 'patty',
       'others', 'elderly woman', 'irene', 'alonzo', 'glenn',
       'erin and irene', 'kevin & meredith', 'lauren', 'party guests',
       'magician', 'ravi', 'robert & creed', 'wrangler', 'senator', 'vet',
       'harry', 'mr. ramish', 'calvin', 'off-camera', 'rafe', 'fake jim',
       'voicemail', 'nellie and pam',
       'group: dunder mifflin!\r\nandy: andy bernard presents: summer softball epic fails! [kevin swings bat on screen, fart noise follows] fail. [repeats] fail',
       '[repeats]\r\nandy: fail',
       "[clark and pete are shown on screen]\r\nvideo andy: hey, i'm pete, puberty is such a drag, man. and i'm clark! i like to eat toilet paper. [clark and pete wave at camera] we fail! [video shows memorial of jerry",
       'phyllis, kevin & stanley', 'hct', 'hct member #1',
       'hct member #2', 'broccoli rob', 'businessman #1',
       'businessman #2', 'businessman #3', 'hct member #3', 'white',
       'boat guy', 'walt jr.', 'senator liptop', 'guys in breakroom',
       'business partner', 'molly', 'colin', 'trevor', 'julius irving',
       'new instant message', 'suit store father', 'athlead employee',
       'dennis', 'wade', 'suit store son', 'female athlead employee',
       '3rd athlead employee', '4th athlead employee', 'co-worker',
       'co-worker #2', 'mr. romanko', 'dance teacher', 'ballerinas',
       'parent in audience', 'parent in audience #2',
       'parent in audience #1', 'investor', 'lonnie', 'fast food worker',
       'drive thru customer', 'brian', 'cameraman', 'rolf', 'gabor',
       'zeke', 'melvina', 'wolf', 'sensei ira', 'pam & dwight', 'frank',
       'party announcer', 'party guest', 'party photographer',
       'party waiter', 'nail stylist 1', 'nail stylist 2', 'nail manager',
       'shirley', 'athlead coworker', 'roger', 'alice',
       "oscar's computer", 'jeb', 'german minister', 'fannie', 'henry',
       'esther', 'aunt shirley', 'cameron', 'promo voice', 'ryan howard',
       'mr. ruger', 'promo announcer', 'ruger sister 1', 'salesmen',
       'ruger sister 2', 'angela & oscar', 'reporter #1', 'reporter #2',
       'mrs. davis', 'phillip', 'carla fern', 'director', 'producer',
       'bob vance, vance refrigeration', 'production assistant', 'sensei',
       'philip', 'check-in guy', 'casey', 'mark mcgrath', 'jim & dwight',
       'camera crew', 'people in line', 'santigold', 'aaron rodgers',
       'clay aiken', 'malcolm', 'casey dean', 'bill hader', 'seth mayers',
       'dakota', 'stripper', 'jakey', 'man 1', 'woman 1', 'woman 2',
       'man 2', 'moderator', 'man 3', 'woman 3', 'woman 4', 'joan',
       'minister', 'carol stills'], dtype=object)

In [20]:
# Removing text in brackets from the speaker column
lines["speaker"] = lines["speaker"].str.replace(r"(\s*\[.*?\]\s*)", " ", regex=True)

In [21]:
# Replacing the % character with %% in the line_text column, just to make sure we don't get errors when inserting the data
# into SQL
lines["line_text"] = lines["line_text"].replace('%','%%', regex=True)

In [22]:
# Replacing any occurrences of the string "mic" preceded and/or followed by any number of alphabet letters. This will help replacing
# all the misspelled Michaels
lines["speaker"] = lines["speaker"].str.replace('[a-zA-Z]*mic[a-zA-Z]*', 'michael', regex=True)

In [23]:
# Strip white spaces from each value in the object columns
df_obj = lines.select_dtypes(['object'])
lines[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [24]:
lines["speaker"] = lines["speaker"].str.capitalize()
lines.head()

,id,season,episode,scene,line_text,speaker,deleted,action
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False,NaN
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False,NaN
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False,NaN
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False,NaN
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False,NaN

In [25]:
lines = lines.rename(columns = {"id": "line_id", "speaker": "first_name"})
lines.head()

,line_id,season,episode,scene,line_text,first_name,deleted,action
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False,NaN
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False,NaN
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False,NaN
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False,NaN
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False,NaN

### From here, code purpose is to create an episode_id column in order to match other episode_id columns in the others csv

In [26]:
lines1 = lines.groupby(['season', 'episode']).size().reset_index(name='freq')
lines1.head()

   season  episode  freq
0       1        1   229
1       1        2   217
2       1        3   244
3       1        4   265
4       1        5   235

In [27]:
lines1.index = lines1.index.set_names(["episode_id"])
lines1 = lines1.reset_index()
lines1.head()

   episode_id  season  episode  freq
0           0       1        1   229
1           1       1        2   217
2           2       1        3   244
3           3       1        4   265
4           4       1        5   235

In [28]:
# As you can see, the goal was to create this episode_id column, having an individual id for every episode (like I have on every csv
# in this project)
lines1.tail()

     episode_id  season  episode  freq
181         181       9       19   273
182         182       9       20   234
183         183       9       21   382
184         184       9       22   501
185         185       9       23   522

In [29]:
# Merging the two dataframes
left_merged = pd.merge(lines,lines1, how="left", on=["season", "episode"])

In [30]:
left_merged.head()

,line_id,season,episode,scene,line_text,first_name,deleted,action,episode_id,freq
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False,NaN,0,229
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False,NaN,0,229
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False,NaN,0,229
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False,NaN,0,229
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False,NaN,0,229

In [31]:
# Dropping the "fred" column, as it is irrelevant for the analysis
left_merged = left_merged.drop("freq", axis=1)

In [32]:
left_merged.tail()

,line_id,season,episode,scene,line_text,first_name,deleted,action,episode_id
57968,59905,9,23,112,It all seems so very arbitrary. I applied for ...,Creed,False,[chuckles],185
57969,59906,9,23,113,I just feel lucky that I got a chance to share...,Meredith,False,NaN,185
57970,59907,9,23,114,I'm happy that this was all filmed so I can re...,Phyllis,False,NaN,185
57971,59908,9,23,115,I sold paper at this company for 12 years. My ...,Jim,False,NaN,185
57972,59909,9,23,116,I thought it was weird when you picked us to m...,Pam,False,NaN,185

In [33]:
left_merged.to_csv('../data/lines.csv', index=False)