In [7]:
import pandas as pd
import sqlalchemy as alch

from getpass import getpass

In [8]:
episodes = pd.read_csv("infoepisodes.csv")
lines = pd.read_csv("lines.csv")
characters = pd.read_csv("charactersepisode.csv")
writers = pd.read_csv("writers.csv")

In [9]:
episodes.tail(2)

,episode_id,season,episode_title,about,ratings,votes,viewership,duration,date,guest_stars,director
184,184,9,A.A.R.M.,Dwight prepares for a marriage proposal and hi...,9.5,3914,4.56,43,2013-05-09,NaN,David Rogers
185,185,9,Finale,"One year later, Dunder Mifflin employees past ...",9.8,10515,5.69,51,2013-05-16,"Joan Cusack, Ed Begley Jr, Rachel Harris, Nanc...",Ken Kwapis

In [10]:
lines.tail(2)

,line_id,season,episode,scene,line_text,first_name,deleted,action,episode_id
57971,59908,9,23,115,I sold paper at this company for 12 years. My ...,Jim,False,NaN,185
57972,59909,9,23,116,I thought it was weird when you picked us to m...,Pam,False,NaN,185

In [11]:
characters.tail(2)

      episode_id   complete_name first_name last_name
2596         185  Oscar Martinez      Oscar  Martinez
2597         185  Darryl Philbin     Darryl   Philbin

In [12]:
writers.tail(2)

     episode_id          writers
227         184  Brent Forrester
228         185     Greg Daniels

In [13]:
password = getpass("MySQL password: ")

MySQL password: ········

In [14]:
db_name = "the_office_db"

connection = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [15]:
engine = alch.create_engine(connection)

In [16]:
# insert info episodes
for index, row in episodes.iterrows():
    engine.execute(f"""
    INSERT INTO info_episodes (episode_id, season, episode_title, about, ratings, votes, viewership, duration, date, guest_stars, director) VALUES
    ("{row['episode_id']}", "{row['season']}", "{row['episode_title']}", "{row['about']}", "{row['ratings']}", "{row['votes']}", "{row['viewership']}", "{row['duration']}", "{row['date']}", "{row['guest_stars']}", "{row['director']}");""")

In [17]:
# insert lines
for index, row in lines.iterrows():
    engine.execute(f"""
    INSERT INTO the_office_db.lines (line_id, season, episode, scene, line_text, first_name, action, info_episodes_episode_id) VALUES
    ("{row['line_id']}", "{row['season']}", "{row['episode']}", "{row['scene']}", "{row['line_text']}", "{row['first_name']}", "{row['action']}", "{row['episode_id']}");""")

In [18]:
# insert characters
for index, row in characters.iterrows():
    engine.execute(f"""
    INSERT INTO character_episode (first_name, last_name, complete_name, info_episodes_episode_id) VALUES
    ("{row['first_name']}", "{row['last_name']}", "{row['complete_name']}", "{row['episode_id']}");""")

In [19]:
# insert writers
for index, row in writers.iterrows():
    engine.execute(f"""
    INSERT INTO writers (writer, info_episodes_episode_id) VALUES
    ("{row['writers']}", "{row['episode_id']}");""")