In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("the_office_series.csv", index_col = 0)

In [17]:
df.head(2)

,Season,EpisodeTitle,About,Ratings,Votes,Viewership,Duration,Date,GuestStars,Director,Writers
0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,24 March 2005,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,29 March 2005,NaN,Ken Kwapis,B. J. Novak

In [45]:
df.dtypes

Season            int64
EpisodeTitle     object
About            object
Ratings         float64
Votes             int64
Viewership      float64
Duration          int64
Date             object
GuestStars       object
Director         object
Writers          object
dtype: object

In [46]:
df["Date"] = pd.to_datetime(df["Date"])
df.head(1)

,Season,EpisodeTitle,About,Ratings,Votes,Viewership,Duration,Date,GuestStars,Director,Writers
0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels

In [47]:
df.columns = df.columns.str.lower()
df.head(1)

,season,episodetitle,about,ratings,votes,viewership,duration,date,gueststars,director,writers
0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels

In [48]:
df.index = df.index.set_names(["episode_id"])
df = df.reset_index()
df.head()

,episode_id,season,episodetitle,about,ratings,votes,viewership,duration,date,gueststars,director,writers
0,0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,1,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,2005-03-29,NaN,Ken Kwapis,B. J. Novak
2,2,1,Health Care,Michael leaves Dwight in charge of picking the...,7.8,4024,5.8,22,2005-04-05,NaN,Ken Whittingham,Paul Lieberstein
3,3,1,The Alliance,"Just for a laugh, Jim agrees to an alliance wi...",8.1,3915,5.4,23,2005-04-12,NaN,Bryan Gordon,Michael Schur
4,4,1,Basketball,Michael and his staff challenge the warehouse ...,8.4,4294,5.0,23,2005-04-19,NaN,Greg Daniels,Greg Daniels

In [49]:
df = df.rename(columns = {"episodetitle": "episode_title", "gueststars": "guest_stars"})
df.head(1)

,episode_id,season,episode_title,about,ratings,votes,viewership,duration,date,guest_stars,director,writers
0,0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels

In [50]:
df_writers = df.assign(writers=df.writers.str.split("|")).explode('writers')

In [51]:
df_writers = df_writers.assign(writers=df_writers.writers.str.split("and")).explode('writers')

In [52]:
df_writers.head(3)

,episode_id,season,episode_title,about,ratings,votes,viewership,duration,date,guest_stars,director,writers
0,0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,NaN,Ken Kwapis,Ricky Gervais
0,0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,NaN,Ken Kwapis,Stephen Merchant
0,0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,NaN,Ken Kwapis,Greg Daniels

In [53]:
df = df.drop("writers", axis=1)

In [63]:
df["about"] = df["about"].str.replace(r"[\"]", r"'", regex = True)

In [65]:
df.head()

,episode_id,season,episode_title,about,ratings,votes,viewership,duration,date,guest_stars,director
0,0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,2005-03-24,NaN,Ken Kwapis
1,1,1,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,2005-03-29,NaN,Ken Kwapis
2,2,1,Health Care,Michael leaves Dwight in charge of picking the...,7.8,4024,5.8,22,2005-04-05,NaN,Ken Whittingham
3,3,1,The Alliance,"Just for a laugh, Jim agrees to an alliance wi...",8.1,3915,5.4,23,2005-04-12,NaN,Bryan Gordon
4,4,1,Basketball,Michael and his staff challenge the warehouse ...,8.4,4294,5.0,23,2005-04-19,NaN,Greg Daniels

In [66]:
df_writers = df_writers.drop(df.columns[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]], axis=1)
df_writers.head()

   episode_id            writers
0           0     Ricky Gervais
0           0  Stephen Merchant
0           0       Greg Daniels
1           1        B. J. Novak
2           2   Paul Lieberstein

In [67]:
df.to_csv('infoepisodes.csv', index=False)

In [68]:
df_writers.to_csv('writers.csv', index=False)