In [2]:
import requests
import pandas as pd
from time import sleep
import numpy as np

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options

import warnings
warnings.filterwarnings('ignore')

In [3]:
opciones = Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized')
opciones.add_argument('user.data-dir=selenium') 
opciones.add_argument('--incognito')

In [4]:
df = pd.read_csv("the_office_series.csv", index_col = 0)

In [5]:
df.head()

,Season,EpisodeTitle,About,Ratings,Votes,Viewership,Duration,Date,GuestStars,Director,Writers
0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,24 March 2005,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,29 March 2005,NaN,Ken Kwapis,B. J. Novak
2,1,Health Care,Michael leaves Dwight in charge of picking the...,7.8,4024,5.8,22,5 April 2005,NaN,Ken Whittingham,Paul Lieberstein
3,1,The Alliance,"Just for a laugh, Jim agrees to an alliance wi...",8.1,3915,5.4,23,12 April 2005,NaN,Bryan Gordon,Michael Schur
4,1,Basketball,Michael and his staff challenge the warehouse ...,8.4,4294,5.0,23,19 April 2005,NaN,Greg Daniels,Greg Daniels

In [6]:
len(df["EpisodeTitle"])

188

In [7]:
driver = webdriver.Chrome(ChromeDriverManager().install())
result_list = []

driver.get("https://www.imdb.com/title/tt0664521/")
sleep(3)
for i in range(len(df["EpisodeTitle"])):
    try:
        lista_principales = driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-9b716f3b-0.xBaTH > div > section > div > div.sc-4253d404-1.enxQRq.ipc-page-grid__item.ipc-page-grid__item--span-2 > section.ipc-page-section.ipc-page-section--base.sc-bfec09a1-0.gmonkL.title-cast.title-cast--episode.celwidget > div.ipc-shoveler.ipc-shoveler--base.ipc-shoveler--page0.title-cast__grid > div.ipc-sub-grid.ipc-sub-grid--page-span-2.ipc-sub-grid--wraps-at-above-l.ipc-shoveler__grid").text
        result_list.append(lista_principales)
        driver.find_element("css selector", "#iconContext-arrow-right").click()
    except:
        pass

[WDM] - Downloading: 100%|█████████████████████████████████████████████████████████| 6.79M/6.79M [00:08<00:00, 869kB/s]

In [101]:
len(result_list)

188

In [102]:
result_list[:3]

['Steve Carell\nMichael Scott\nRainn Wilson\nDwight Schrute\nJohn Krasinski\nJim Halpert\nJenna Fischer\nPam Beesly\nB.J. Novak\nRyan Howard\nMelora Hardin\nJan Levinson-Gould\nDavid Denman\nRoy Anderson\nLeslie David Baker\nStanley Hudson\nBrian Baumgartner\nKevin Malone\nAngela Kinsey\nAngela Martin\nHenriette Mantel\nOffice Worker\nMike McCaul\nOffice Worker\nOscar Nuñez\nOscar Martinez(as Oscar Nunez)\nPhyllis Smith\nPhyllis Lapin\nRandall Barnwell\nMadsen(uncredited)\nCreed Bratton\nCreed Bratton(uncredited)\nToby Huss\nTodd Packer(voice)(uncredited)',
 'Steve Carell\nMichael Scott\nRainn Wilson\nDwight Schrute\nJohn Krasinski\nJim Halpert\nJenna Fischer\nPam Beesly\nB.J. Novak\nRyan Howard\nLarry Wilmore\nMr. Brown\nLeslie David Baker\nStanley Hudson\nBrian Baumgartner\nKevin Malone\nKate Flannery\nMeredith Palmer\nMindy Kaling\nKelly Kapoor\nPaul Lieberstein\nToby Flenderson\nAngela Kinsey\nAngela Martin\nOscar Nuñez\nOscar Martinez(as Oscar Nunez)\nPhyllis Smith\nPhyllis Lapin\nCreed Bratton\nCreed Bratton(uncredited)',
 'Steve Carell\nMichael Scott\nRainn Wilson\nDwight Schrute\nJohn Krasinski\nJim Halpert\nJenna Fischer\nPam Beesly\nB.J. Novak\nRyan Howard\nMelora Hardin\nJan Levinson-Gould\nLeslie David Baker\nStanley Hudson\nBrian Baumgartner\nKevin Malone\nKate Flannery\nMeredith Palmer\nCharlie Hartsock\nTravel Agent\nMindy Kaling\nKelly Kapoor\nAngela Kinsey\nAngela Martin\nPaul Lieberstein\nToby Flenderson\nOscar Nuñez\nOscar Martinez(as Oscar Nunez)\nPhyllis Smith\nPhyllis Lapin\nCreed Bratton\nCreed Bratton(uncredited)…']

In [103]:
series = pd.Series(result_list)
series

0      Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
1      Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
2      Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
3      Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
4      Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
                             ...
183    Rainn Wilson\nDwight Schrute\nJohn Krasinski\n...
184    Rainn Wilson\nDwight Schrute\nJohn Krasinski\n...
185    Rainn Wilson\nDwight Schrute\nJohn Krasinski\n...
186    Rainn Wilson\nDwight Schrute\nJohn Krasinski\n...
187    Rainn Wilson\nDwight Schrute\nJohn Krasinski\n...
Length: 188, dtype: object

In [104]:
df1 = series.to_frame()
df1 = df1.rename(columns = {0:'item'})

In [105]:
df1.head()

                                                item
0  Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
1  Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
2  Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
3  Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
4  Steve Carell\nMichael Scott\nRainn Wilson\nDwi...

In [106]:
df1['item'] = df1['item'].str.split('\n')

In [107]:
df1.head()

                                                item
0  [Steve Carell, Michael Scott, Rainn Wilson, Dw...
1  [Steve Carell, Michael Scott, Rainn Wilson, Dw...
2  [Steve Carell, Michael Scott, Rainn Wilson, Dw...
3  [Steve Carell, Michael Scott, Rainn Wilson, Dw...
4  [Steve Carell, Michael Scott, Rainn Wilson, Dw...

In [108]:
df1 = df1.explode('item')

In [109]:
df1.head()

             item
0    Steve Carell
0   Michael Scott
0    Rainn Wilson
0  Dwight Schrute
0  John Krasinski

In [110]:
#para sacar el () de oscar
df1["item"] = df1["item"].str.replace(r"(\s*\(.*?\)\s*)", " ", regex=True)
df1.head()

             item
0    Steve Carell
0   Michael Scott
0    Rainn Wilson
0  Dwight Schrute
0  John Krasinski

In [111]:
#para sacar el - de jan
df1["item"] = df1['item'].str.split('-').str[0]
df1.head(5)

             item
0    Steve Carell
0   Michael Scott
0    Rainn Wilson
0  Dwight Schrute
0  John Krasinski

In [112]:
df1 = df1.rename(columns={"item": "complete_name"})
df1.head()

    complete_name
0    Steve Carell
0   Michael Scott
0    Rainn Wilson
0  Dwight Schrute
0  John Krasinski

In [113]:
df1["complete_name"] = df1["complete_name"].str.strip()

In [114]:
df1.index = df1.index.set_names(["episode_id"])
df1 = df1.reset_index()
df1.head()

   episode_id   complete_name
0           0    Steve Carell
1           0   Michael Scott
2           0    Rainn Wilson
3           0  Dwight Schrute
4           0  John Krasinski

In [115]:
df_api = pd.read_csv("apiextraction.csv")
df_api.head()

  first_name last_name   complete_name
0    Michael     Scott   Michael Scott
1        Jim   Halpert     Jim Halpert
2     Dwight   Schrute  Dwight Schrute
3        Pam    Beesly      Pam Beesly
4       Ryan    Howard     Ryan Howard

In [117]:
left_merged = pd.merge(df1, df_api, how="left", on=["complete_name"])

In [118]:
left_merged = left_merged.dropna()

In [119]:
left_merged.head()

   episode_id   complete_name first_name last_name
1           0   Michael Scott    Michael     Scott
3           0  Dwight Schrute     Dwight   Schrute
5           0     Jim Halpert        Jim   Halpert
7           0      Pam Beesly        Pam    Beesly
9           0     Ryan Howard       Ryan    Howard

In [120]:
#creed has the same name, drop creeds
left_merged = left_merged.drop_duplicates()
left_merged.head()

   episode_id   complete_name first_name last_name
1           0   Michael Scott    Michael     Scott
3           0  Dwight Schrute     Dwight   Schrute
5           0     Jim Halpert        Jim   Halpert
7           0      Pam Beesly        Pam    Beesly
9           0     Ryan Howard       Ryan    Howard

In [121]:
left_merged.to_csv('charactersepisode.csv', index=False)