In [12]:
import requests
import pandas as pd
from time import sleep
import numpy as np

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options

import warnings
warnings.filterwarnings('ignore')

In [13]:
opciones = Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized')
opciones.add_argument('user.data-dir=selenium') 
opciones.add_argument('--incognito')

In [3]:
driver = webdriver.Chrome(ChromeDriverManager().install())

driver.get("https://www.rottentomatoes.com/tv/the_office/s01/e01")
driver.implicitly_wait(10)
driver.find_element("css selector", "#onetrust-reject-all-handler").click()
sleep(2)
driver.find_element("css selector", "#showMoreCast").click()
sleep(2)
lista_principales = driver.find_element("css selector", "#fullCast > div > div").text

[WDM] - Downloading: 100%|████████████████████████████████████████████████████████| 6.58M/6.58M [00:00<00:00, 31.4MB/s]

In [4]:
lista_principales

'Steve Carell\nMichael Scott\nJenna Fischer\nPam Beesly Halpert\nJohn Krasinski\nJim Halpert\nRainn Wilson\nDwight Schrute\nB.J. Novak\nRyan Howard\nMelora Hardin\nJan Levinson-Gould\nGuest Star\nDavid Denman\nRoy Anderson\nGuest Star\nLeslie David Baker\nStanley Hudson\nGuest Star\nBrian Baumgartner\nKevin Malone\nGuest Star\nAngela Kinsey\nAngela Martin\nGuest Star\nHenriette Mantel\nOffice Worker\nGuest Star\nMike McCaul\nOffice Worker\nGuest Star\nOscar Nunez\nOscar Martinez\nGuest Star\nPhyllis Smith\nPhyllis Vance\nGuest Star\nBen Silverman\nExecutive Producer\nGreg Daniels\nExecutive Producer\nRicky Gervais\nExecutive Producer\nStephen Merchant\nExecutive Producer\nHoward Klein\nExecutive Producer'

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("the_office_series.csv", index_col = 0)

In [3]:
df.head()

,Season,EpisodeTitle,About,Ratings,Votes,Viewership,Duration,Date,GuestStars,Director,Writers
0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,24 March 2005,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,29 March 2005,NaN,Ken Kwapis,B. J. Novak
2,1,Health Care,Michael leaves Dwight in charge of picking the...,7.8,4024,5.8,22,5 April 2005,NaN,Ken Whittingham,Paul Lieberstein
3,1,The Alliance,"Just for a laugh, Jim agrees to an alliance wi...",8.1,3915,5.4,23,12 April 2005,NaN,Bryan Gordon,Michael Schur
4,1,Basketball,Michael and his staff challenge the warehouse ...,8.4,4294,5.0,23,19 April 2005,NaN,Greg Daniels,Greg Daniels

In [4]:
df['Season'] = df['Season'].astype("string").str.zfill(2)

In [5]:
df.head()

,Season,EpisodeTitle,About,Ratings,Votes,Viewership,Duration,Date,GuestStars,Director,Writers
0,01,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,24 March 2005,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,01,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,29 March 2005,NaN,Ken Kwapis,B. J. Novak
2,01,Health Care,Michael leaves Dwight in charge of picking the...,7.8,4024,5.8,22,5 April 2005,NaN,Ken Whittingham,Paul Lieberstein
3,01,The Alliance,"Just for a laugh, Jim agrees to an alliance wi...",8.1,3915,5.4,23,12 April 2005,NaN,Bryan Gordon,Michael Schur
4,01,Basketball,Michael and his staff challenge the warehouse ...,8.4,4294,5.0,23,19 April 2005,NaN,Greg Daniels,Greg Daniels

In [6]:
data_dict = df.groupby('Season').EpisodeTitle.apply(list).to_dict()  
data_dict["01"]

['Pilot',
 'Diversity Day',
 'Health Care',
 'The Alliance',
 'Basketball',
 'Hot Girl']

In [7]:
new_dict = {}
for key, value in data_dict.items():
    new_dict[key] = list(range(1, len([item for item in value if item]) + 1))

for k, v in new_dict.items():
    lista_vacia = []
    for numero in v:
        lista_vacia.append(f"{numero:02}")
    new_dict[k] = lista_vacia

print(new_dict)

{'01': ['01', '02', '03', '04', '05', '06'], '02': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22'], '03': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'], '04': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14'], '05': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26'], '06': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26'], '07': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'], '08': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'], '09': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']}

In [8]:
new_dict["09"].remove('17')
new_dict["09"].remove('23')
new_dict["09"].append('24')
new_dict["09"].append('26')

In [9]:
print(new_dict)

{'01': ['01', '02', '03', '04', '05', '06'], '02': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22'], '03': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'], '04': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14'], '05': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26'], '06': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26'], '07': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'], '08': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'], '09': ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '18', '19', '20', '21', '22', '24', '26']}

In [10]:
url_list = []
for season in new_dict.keys():
    for episode in new_dict[season]:
            url_list.append(f"https://www.rottentomatoes.com/tv/the_office/s{season}/e{episode}")
url_list[-5:]

['https://www.rottentomatoes.com/tv/the_office/s09/e20',
 'https://www.rottentomatoes.com/tv/the_office/s09/e21',
 'https://www.rottentomatoes.com/tv/the_office/s09/e22',
 'https://www.rottentomatoes.com/tv/the_office/s09/e24',
 'https://www.rottentomatoes.com/tv/the_office/s09/e26']

In [14]:
driver = webdriver.Chrome(ChromeDriverManager().install())
result_list = []

for i in url_list[:3]: 
    driver.get(i)
    try:
        sleep(5)
        driver.find_element("css selector", "#onetrust-reject-all-handler").click()
        sleep(2)
        driver.find_element("css selector", "#showMoreCast").click()
        sleep(2)
        resultado = driver.find_element("css selector", "#fullCast > div > div").text
        result_list.append(resultado)
    except: 
        sleep(5)
        driver.find_element("css selector", "#showMoreCast").click()
        sleep(2)
        resultado = driver.find_element("css selector", "#fullCast > div > div").text
        result_list.append(resultado)
driver.quit()

In [36]:
result_list

['Steve Carell\nMichael Scott\nJenna Fischer\nPam Beesly Halpert\nJohn Krasinski\nJim Halpert\nRainn Wilson\nDwight Schrute\nB.J. Novak\nRyan Howard\nMelora Hardin\nJan Levinson-Gould\nGuest Star\nDavid Denman\nRoy Anderson\nGuest Star\nLeslie David Baker\nStanley Hudson\nGuest Star\nBrian Baumgartner\nKevin Malone\nGuest Star\nAngela Kinsey\nAngela Martin\nGuest Star\nHenriette Mantel\nOffice Worker\nGuest Star\nMike McCaul\nOffice Worker\nGuest Star\nOscar Nunez\nOscar Martinez\nGuest Star\nPhyllis Smith\nPhyllis Vance\nGuest Star\nBen Silverman\nExecutive Producer\nGreg Daniels\nExecutive Producer\nRicky Gervais\nExecutive Producer\nStephen Merchant\nExecutive Producer\nHoward Klein\nExecutive Producer',
 'Steve Carell\nMichael Scott\nJenna Fischer\nPam Beesly Halpert\nJohn Krasinski\nJim Halpert\nRainn Wilson\nDwight Schrute\nB.J. Novak\nRyan Howard\nLarry Wilmore\nMr. Brown\nGuest Star\nLeslie David Baker\nStanley Hudson\nGuest Star\nBrian Baumgartner\nKevin Malone\nGuest Star\nKate Flannery\nMeredith Palmer\nGuest Star\nMindy Kaling\nKelly Kapoor\nGuest Star\nPaul Lieberstein\nToby Flenderson\nGuest Star\nAngela Kinsey\nAngela Martin\nGuest Star\nOscar Nunez\nOscar Martinez\nGuest Star\nPhyllis Smith\nPhyllis Vance\nGuest Star\nBen Silverman\nExecutive Producer\nGreg Daniels\nExecutive Producer\nRicky Gervais\nExecutive Producer\nStephen Merchant\nExecutive Producer\nHoward Klein\nExecutive Producer',
 'Steve Carell\nMichael Scott\nJenna Fischer\nPam Beesly Halpert\nJohn Krasinski\nJim Halpert\nRainn Wilson\nDwight Schrute\nB.J. Novak\nRyan Howard\nMelora Hardin\nJan Levinson-Gould\nGuest Star\nLeslie David Baker\nStanley Hudson\nGuest Star\nBrian Baumgartner\nKevin Malone\nGuest Star\nKate Flannery\nMeredith Palmer\nGuest Star\nCharlie Hartsock\nTravel Agent\nGuest Star\nMindy Kaling\nKelly Kapoor\nGuest Star\nAngela Kinsey\nAngela Martin\nGuest Star\nPaul Lieberstein\nToby Flenderson\nGuest Star\nOscar Nunez\nOscar Martinez\nGuest Star\nPhyllis Smith\nPhyllis Vance\nGuest Star\nBen Silverman\nExecutive Producer\nGreg Daniels\nExecutive Producer\nRicky Gervais\nExecutive Producer\nStephen Merchant\nExecutive Producer\nHoward Klein\nExecutive Producer']

In [37]:
series = pd.Series(result_list)
series

0    Steve Carell\nMichael Scott\nJenna Fischer\nPa...
1    Steve Carell\nMichael Scott\nJenna Fischer\nPa...
2    Steve Carell\nMichael Scott\nJenna Fischer\nPa...
dtype: object

In [39]:
df1 = series.to_frame()
df1 = df1.rename(columns = {0:'item'})

In [40]:
df1.head()

                                                item
0  Steve Carell\nMichael Scott\nJenna Fischer\nPa...
1  Steve Carell\nMichael Scott\nJenna Fischer\nPa...
2  Steve Carell\nMichael Scott\nJenna Fischer\nPa...

In [41]:
df1['item'] = df1['item'].str.split('\n')
df = df.explode('0')

In [42]:
df1.head()

                                                item
0  [Steve Carell, Michael Scott, Jenna Fischer, P...
1  [Steve Carell, Michael Scott, Jenna Fischer, P...
2  [Steve Carell, Michael Scott, Jenna Fischer, P...

In [43]:
df1 = df1.explode('item')

In [46]:
df1.head()

                 item
0        Steve Carell
0       Michael Scott
0       Jenna Fischer
0  Pam Beesly Halpert
0      John Krasinski