In [1]:
import requests
import pandas as pd
from time import sleep
import numpy as np

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options

import warnings
warnings.filterwarnings('ignore')

In [2]:
opciones = Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized')
opciones.add_argument('user.data-dir=selenium') 
opciones.add_argument('--incognito')

In [26]:
df = pd.read_csv("the_office_series.csv", index_col = 0)

In [27]:
df.head()

,Season,EpisodeTitle,About,Ratings,Votes,Viewership,Duration,Date,GuestStars,Director,Writers
0,1,Pilot,The premiere episode introduces the boss and s...,7.5,4936,11.2,23,24 March 2005,NaN,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,Diversity Day,Michael's off color remark puts a sensitivity ...,8.3,4801,6.0,23,29 March 2005,NaN,Ken Kwapis,B. J. Novak
2,1,Health Care,Michael leaves Dwight in charge of picking the...,7.8,4024,5.8,22,5 April 2005,NaN,Ken Whittingham,Paul Lieberstein
3,1,The Alliance,"Just for a laugh, Jim agrees to an alliance wi...",8.1,3915,5.4,23,12 April 2005,NaN,Bryan Gordon,Michael Schur
4,1,Basketball,Michael and his staff challenge the warehouse ...,8.4,4294,5.0,23,19 April 2005,NaN,Greg Daniels,Greg Daniels

In [30]:
len(df["EpisodeTitle"])

188

In [31]:
driver = webdriver.Chrome(ChromeDriverManager().install())
result_list = []

driver.get("https://www.imdb.com/title/tt0664521/")
sleep(3)
for i in range(len(df["EpisodeTitle"])):
    try:
        lista_principales = driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-9b716f3b-0.xBaTH > div > section > div > div.sc-4253d404-1.enxQRq.ipc-page-grid__item.ipc-page-grid__item--span-2 > section.ipc-page-section.ipc-page-section--base.sc-bfec09a1-0.gmonkL.title-cast.title-cast--episode.celwidget > div.ipc-shoveler.ipc-shoveler--base.ipc-shoveler--page0.title-cast__grid > div.ipc-sub-grid.ipc-sub-grid--page-span-2.ipc-sub-grid--wraps-at-above-l.ipc-shoveler__grid").text
        result_list.append(lista_principales)
        driver.find_element("css selector", "#iconContext-arrow-right").click()

ElementClickInterceptedException: Message: element click intercepted: Element <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="ipc-icon ipc-icon--arrow-right" id="iconContext-arrow-right" viewBox="0 0 24 24" fill="currentColor" role="presentation">...</svg> is not clickable at point (254, 120). Other element would receive the click: <div role="presentation" data-testid="hero-subnav-bar-left-block" class="sc-11c0820-3 hwmGqL">...</div>
  (Session info: chrome=109.0.5414.74)
Stacktrace:
Backtrace:
	(No symbol) [0x00B86643]
	(No symbol) [0x00B1BE21]
	(No symbol) [0x00A1DA9D]
	(No symbol) [0x00A592B2]
	(No symbol) [0x00A56970]
	(No symbol) [0x00A53E0B]
	(No symbol) [0x00A52548]
	(No symbol) [0x00A46B13]
	(No symbol) [0x00A6FD7C]
	(No symbol) [0x00A4641F]
	(No symbol) [0x00A700D4]
	(No symbol) [0x00A86B09]
	(No symbol) [0x00A6FB76]
	(No symbol) [0x00A449C1]
	(No symbol) [0x00A45E5D]
	GetHandleVerifier [0x00DFA142+2497106]
	GetHandleVerifier [0x00E285D3+2686691]
	GetHandleVerifier [0x00E2BB9C+2700460]
	GetHandleVerifier [0x00C33B10+635936]
	(No symbol) [0x00B24A1F]
	(No symbol) [0x00B2A418]
	(No symbol) [0x00B2A505]
	(No symbol) [0x00B3508B]
	BaseThreadInitThunk [0x76917D69+25]
	RtlInitializeExceptionChain [0x77DFBB9B+107]
	RtlClearBits [0x77DFBB1F+191]

In [33]:
len(result_list)

188

In [46]:
result_list[:3]

['Steve Carell\nMichael Scott\nRainn Wilson\nDwight Schrute\nJohn Krasinski\nJim Halpert\nJenna Fischer\nPam Beesly\nB.J. Novak\nRyan Howard\nMelora Hardin\nJan Levinson-Gould\nDavid Denman\nRoy Anderson\nLeslie David Baker\nStanley Hudson\nBrian Baumgartner\nKevin Malone\nAngela Kinsey\nAngela Martin\nHenriette Mantel\nOffice Worker\nMike McCaul\nOffice Worker\nOscar Nuñez\nOscar Martinez(as Oscar Nunez)\nPhyllis Smith\nPhyllis Lapin\nRandall Barnwell\nMadsen(uncredited)\nCreed Bratton\nCreed Bratton(uncredited)\nToby Huss\nTodd Packer(voice)(uncredited)',
 'Steve Carell\nMichael Scott\nRainn Wilson\nDwight Schrute\nJohn Krasinski\nJim Halpert\nJenna Fischer\nPam Beesly\nB.J. Novak\nRyan Howard\nLarry Wilmore\nMr. Brown\nLeslie David Baker\nStanley Hudson\nBrian Baumgartner\nKevin Malone\nKate Flannery\nMeredith Palmer\nMindy Kaling\nKelly Kapoor\nPaul Lieberstein\nToby Flenderson\nAngela Kinsey\nAngela Martin\nOscar Nuñez\nOscar Martinez(as Oscar Nunez)\nPhyllis Smith\nPhyllis Lapin\nCreed Bratton\nCreed Bratton(uncredited)',
 'Steve Carell\nMichael Scott\nRainn Wilson\nDwight Schrute\nJohn Krasinski\nJim Halpert\nJenna Fischer\nPam Beesly\nB.J. Novak\nRyan Howard\nMelora Hardin\nJan Levinson-Gould\nLeslie David Baker\nStanley Hudson\nBrian Baumgartner\nKevin Malone\nKate Flannery\nMeredith Palmer\nCharlie Hartsock\nTravel Agent\nMindy Kaling\nKelly Kapoor\nAngela Kinsey\nAngela Martin\nPaul Lieberstein\nToby Flenderson\nOscar Nuñez\nOscar Martinez(as Oscar Nunez)\nPhyllis Smith\nPhyllis Lapin\nCreed Bratton\nCreed Bratton(uncredited)…']

In [35]:
series = pd.Series(result_list)
series

0      Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
1      Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
2      Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
3      Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
4      Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
                             ...
183    Rainn Wilson\nDwight Schrute\nJohn Krasinski\n...
184    Rainn Wilson\nDwight Schrute\nJohn Krasinski\n...
185    Rainn Wilson\nDwight Schrute\nJohn Krasinski\n...
186    Rainn Wilson\nDwight Schrute\nJohn Krasinski\n...
187    Rainn Wilson\nDwight Schrute\nJohn Krasinski\n...
Length: 188, dtype: object

In [36]:
df1 = series.to_frame()
df1 = df1.rename(columns = {0:'item'})

In [37]:
df1.head()

                                                item
0  Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
1  Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
2  Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
3  Steve Carell\nMichael Scott\nRainn Wilson\nDwi...
4  Steve Carell\nMichael Scott\nRainn Wilson\nDwi...

In [39]:
df1['item'] = df1['item'].str.split('\n')

In [40]:
df1.head()

                                                item
0  [Steve Carell, Michael Scott, Rainn Wilson, Dw...
1  [Steve Carell, Michael Scott, Rainn Wilson, Dw...
2  [Steve Carell, Michael Scott, Rainn Wilson, Dw...
3  [Steve Carell, Michael Scott, Rainn Wilson, Dw...
4  [Steve Carell, Michael Scott, Rainn Wilson, Dw...

In [41]:
df1 = df1.explode('item')

In [66]:
df1.head()

             item
0    Steve Carell
0   Michael Scott
0    Rainn Wilson
0  Dwight Schrute
0  John Krasinski

In [67]:
#para sacar el () de oscar
df1["item"] = df1["item"].str.replace(r"(\s*\(.*?\)\s*)", " ", regex=True)
df1.head()

             item
0    Steve Carell
0   Michael Scott
0    Rainn Wilson
0  Dwight Schrute
0  John Krasinski

In [83]:
#para sacar el - de jan
df1['item'] = df1['item'].str.split('-').str[0]
df1.head(5)

KeyError: 'item'

In [96]:
df1 = df1.rename(columns={"item": "completename"})
df1.head(40)

    index        completename
0       0        Steve Carell
1       0       Michael Scott
2       0        Rainn Wilson
3       0      Dwight Schrute
4       0      John Krasinski
5       0         Jim Halpert
6       0       Jenna Fischer
7       0          Pam Beesly
8       0          B.J. Novak
9       0         Ryan Howard
10      0       Melora Hardin
11      0        Jan Levinson
12      0        David Denman
13      0        Roy Anderson
14      0  Leslie David Baker
15      0      Stanley Hudson
16      0   Brian Baumgartner
17      0        Kevin Malone
18      0       Angela Kinsey
19      0       Angela Martin
20      0    Henriette Mantel
21      0       Office Worker
22      0         Mike McCaul
23      0       Office Worker
24      0         Oscar Nuñez
25      0     Oscar Martinez
26      0       Phyllis Smith
27      0       Phyllis Lapin
28      0    Randall Barnwell
29      0             Madsen
30      0       Creed Bratton
31      0      Creed Bratton
32      0           Toby Huss
33      0       Todd Packer
34      1        Steve Carell
35      1       Michael Scott
36      1        Rainn Wilson
37      1      Dwight Schrute
38      1      John Krasinski
39      1         Jim Halpert

In [88]:
df1 = df1.reset_index()
df1.head()

   index    completename
0      0    Steve Carell
1      0   Michael Scott
2      0    Rainn Wilson
3      0  Dwight Schrute
4      0  John Krasinski

In [101]:
df1["completename"].unique()

array(['Steve Carell', 'Michael Scott', 'Rainn Wilson', 'Dwight Schrute',
       'John Krasinski', 'Jim Halpert', 'Jenna Fischer', 'Pam Beesly',
       'B.J. Novak', 'Ryan Howard', 'Melora Hardin', 'Jan Levinson',
       'David Denman', 'Roy Anderson', 'Leslie David Baker',
       'Stanley Hudson', 'Brian Baumgartner', 'Kevin Malone',
       'Angela Kinsey', 'Angela Martin', 'Henriette Mantel',
       'Office Worker', 'Mike McCaul', 'Oscar Nuñez', 'Oscar Martinez ',
       'Phyllis Smith', 'Phyllis Lapin', 'Randall Barnwell', 'Madsen ',
       'Creed Bratton', 'Creed Bratton ', 'Toby Huss', 'Todd Packer  ',
       'Larry Wilmore', 'Mr. Brown', 'Kate Flannery', 'Meredith Palmer',
       'Mindy Kaling', 'Kelly Kapoor', 'Paul Lieberstein',
       'Toby Flenderson', 'Charlie Hartsock', 'Travel Agent',
       'Creed Bratton …', 'Craig Robinson', 'Darryl Philbin',
       "Patrice O'Neal", 'Lonny', 'Matt DeCaro', 'Jerry',
       'Karly Rothenberg', 'Madge', 'Amy Adams', 'Katy', 'Kelly Kapoor ',
       'Matt McKane', 'Frat Guy ', 'Beau Wirick', 'Frat Guy',
       'David Koechner', 'Todd Packer', 'Shannon Cochran', "Pam's Mom",
       'Nancy Carell', 'Carol Stills ', 'John Harrington Bland', 'Bill',
       'Greg Daniels', "Michael's neighbor ", 'Devon Abner',
       'Devon White', 'Hugh Dane', 'Hank', 'George Gaus', 'Lion Trick',
       'Annabelle Kopack', 'Fairy Princess Trick', 'Lance Krall',
       'Sensei Ira', 'Lauren Rissman', 'Exiting Co', 'Tim Meadows',
       'Christian', 'Allyson Everitt', "Chili's Hostess",
       'Michael Naughton', 'Chris', 'Jonathan Browning', 'Steve',
       'Trish Gates', 'Stacy', 'Ken Jeong', 'Nikki McCauley',
       "Mark's Girlfriend", 'Robert R. Shafer', 'Bob Vance ',
       'Rob Riggle', 'Captain Jack', 'Brenda Withers', 'Brenda',
       'Joanne Carlsen', 'Teri Hudson', 'Marcus A. York',
       'Billy Merchant', 'David Doty', 'The Doctor', "Julia Prud'homme",
       'The Technician', 'Stephen Pisani', 'Hospital Visitor ',
       'Tom Chick', 'Gil ', 'Lindsey Stoddart', 'Dana', 'Sherry Landry',
       'Waitress ', 'Lianne Lin', 'Ken Howard', 'Ed Truck',
       'Todd Packer ', 'Charles Esten', 'Josh Porter', 'Craig Anton',
       'Craig', 'Andy Buckley', 'David Wallace', 'Dan Cole', 'Dan Gore',
       'Ben Carroll', 'Master of Ceremonies', 'John Kelly',
       'Conference Goer', 'A.J. Adelman', 'Bar Patron', 'Sean R. Lake',
       'Sci Fi Attendee ', 'Spencer Daniels', 'Jake Palmer',
       'Jazz Raycole', 'Melissa Hudson', 'Kevin Carlson',
       'Edward R. Meow ', 'Haley Daniels', 'Abby', 'Susan Foley',
       'Delivery Woman', 'Justin Meloni', 'Delivery Boy', 'Marilyn Brett',
       'Linda', 'Scott Adsit', 'The Photographer', 'Vivianne Collins',
       'Headquarter Receptionist', 'Bob Harrell', 'Ed Helms',
       'Andy Bernard', 'Jerome Bettis', 'Robert Bagnell', 'Alan',
       'Matt Price', 'Evan', 'Rashida Jones', 'Karen Filippelli',
       'Thomas F. Evans', 'Pretzel Vendor', 'Jan Levinson ',
       'Wayne Wilderson', 'Martin', 'Mike Bruner', 'Tony Gardner',
       'Gil Glasgow', "Dwight and Jim's Customer", 'Landon H. Lewis Jr.',
       'Leon Simmons', 'Julius ', 'Yvette Nicole Brown', 'Paris',
       'Charlotte Stewart', 'Woman', 'Andy Daly', 'Ben Franklin ',
       'Jackie Debatin', 'Elizabeth the Stripper',
       'Michael Patrick McGill', 'Kenny Anderson', 'Nathan Blank',
       'Frisbee Student', 'Matthew Brent', 'Business School Student',
       'Phyllis Vance', 'Lisa Darr', 'Barbara Allen', 'Jim Jansen',
       'High School Principal', "Nicholas D'Agosto", 'Hunter',
       'David Wallace ', 'John Ingle', 'Robert Dunder', 'Kevin Dorff',
       'Aaron Grandy', 'Edward James Gage', 'Larry Meyers',
       'Nick Armstrong', 'Technician', 'Ranjit Chowdhry', 'Vikram',
       'Kyle Bornheimer', 'Adman', 'Adam Jamal Craig', 'Rolando',
       'Patrick Bradford', 'Additional ', 'Beth Grant',
       "Dwight's Babysitter", 'Frederik Pohl IV', 'Neighbor ',
       'Steve Seagren', 'Cop #2', 'Brooke Dillman', 'Margaret',
       'Terrence Beasor', 'Bill Kress', 'Sean Bury', 'Barista',
       'Kelsea Button', 'Young Club Girl', 'Taji Coleman', 'Tall Girl #2',
       'Phil Reeves', 'Phil Maguire', 'Emerson Brooks',
       'Air Force Recruiter', 'Trevor Einhorn', 'Justin Polznik',
       'Nelson Franklin', 'Graphic Design Guy', 'Amy Ryan', 'Holly Flax',
       'Pam Beesly ', 'Bethany Dwyer', 'Beth', 'John Hartmann',
       'Kendall  ', 'Vanessa Ragland', 'Tug Coker', 'Pete Halpert',
       'Blake Robbins', 'Tom Halpert', 'Rich Sommer', 'Alex',
       'Jennifer Ann Burton', 'NY Corporate Employee', 'June Squibb',
       "Michael's Mom  ", 'Wendi McLendon', 'Concierge Marie',
       'Tony Pasqualini', 'Potential Canadian Client', 'Lee Eisenberg',
       'Gino', 'Patrick Faucette', 'Policeman #1', 'Ryan Howard ',
       'Potsch Boyd', 'Mennonite Priest', 'Kelly Cantley',
       'Admitting Nurse ', 'Matthew Craig', 'Dad', 'Dan Bakkedahl',
       'Roger Prince, Jr.', 'Dan Desmond', 'Roger Prince, Sr.', 'Kendall',
       'Erica Tazel', 'Julia', 'Rob Huebel', 'A.J.', 'Katherine Flynn',
       'Nashua Receptionist ', 'Michael McCartney', 'Nashua Employee',
       'Mary Wall', 'Katie Aselton', 'Glove Girl ', 'Rob Brownstein',
       'Salesman', 'Lisa K. Wyatt', 'Lynn', 'Idris Elba', 'Charles Miner',
       'Suzanne Watson', 'Stephanie', 'Lynn ', 'Emily Evan Rae',
       'Rebecca Prince', 'Connie Sawyer', 'Nana', 'Ellie Kemper',
       'Erin Hannon', 'Cindy Drummond', "Ryan's Mom", 'Bob Gebert',
       'Mr. Schofield', 'Angela Campolla', 'Receptionist',
       'Kurt Scholler', 'Ty Platt', 'Elvy', 'Megan ', 'Kelii Miyata',
       'Mori ', 'Linda Purl', 'Helene Beesly', 'Anna Camp',
       'Penny Beesly', 'Rick Overton', 'Mr. Beesly', 'Robert Pine',
       'Gerald Halpert', 'Jim Halpert ', 'Mike Starr', 'Grotti',
       'Tucker Albrizzi', 'Son', 'Rae Latt', 'Mother', 'Jennifer Hasty',
       'Melinda Haugh', 'Waitstaff #2 ', 'Chris Ellis', "Chris O'Keefe",
       'Ransford Doherty', 'Event Security', 'Kwame Boateng', 'Derrick',
       'Monnae Michaell', 'The Principle ', 'David Costabile',
       'Eric Ward', 'Kathy Bates', 'Jo Bennett', 'Nick', 'Keeshan Giles',
       'Orderly', 'Sarah Baker', 'Josie', 'Kelen Coleman',
       'Isabel Poreba', 'Zach Woods', 'Gabe Lewis', 'Sam Daly', 'Matt',
       'Amy Pietz', 'Donna', 'Phil Abrams', 'Shelby Thomas Weems',
       'Maxwell Glick', 'Tobias', 'Holly Flax ', 'Timothy Olyphant',
       'Danny Cordray', 'Gabe Lewis ', 'Will Ferrell', 'Deangelo Vickers',
       'James Spader', 'Robert California', 'Erica Vittina Phillips',
       'Justine', 'Robert California ', 'Lindsey Broad', 'Cathy Simms',
       'Catherine Tate', 'Nellie Bertram', 'Jack Coleman',
       'State Senator Rob Lipton', 'Chris Bauer', 'Harry Jannerone',
       'Clark Duke', 'Clark', 'Jake Lacy', 'Pete Miller', 'Randall Park',
       'Asian Jim Halpert', 'Heidi Edsall', 'Young Mom ',
       'Stephen Colbert', 'Broccoli Rob', 'Josh Groban',
       'Walter Bernard, Jr.', 'Chris Gethard', 'Trevor', 'Noah Blake',
       'Waiter', 'Hidetoshi Imura', 'Hidetoshi Hasagawa', 'Mark Proksch',
       'Nate', 'Julius Erving', 'Ameenah Kaplan', 'Val', 'Jeff Hatch',
       'Limo Driver', 'Sam Richardson', 'Colin, Athlead Employee',
       'Ed Lauter', 'Sam Stone, Sr.', 'Will Greenberg', 'Sam Stone, Jr.',
       'Rene Gube', 'Athlead Male Receptionist', 'Chris Diamantopoulos',
       'Cameraman', 'Helene Beesly ', 'Andy Bernard ', 'Brian', 'Melvina',
       'Tom Bower', 'Heinrich', 'Majandra Delfino', 'Fannie Schrute',
       'Matt Jones', 'Zeke Schrute', 'Roseanne Barr', 'Carla Fern',
       'Clay Aiken', 'Angela Schrute'], dtype=object)

In [55]:
df_api = pd.read_csv("apiextraction.csv")
df_api

   firstname    lastname      completename
0    Michael       Scott     Michael Scott
1        Jim     Halpert       Jim Halpert
2     Dwight     Schrute    Dwight Schrute
3        Pam      Beesly        Pam Beesly
4       Ryan      Howard       Ryan Howard
5      Kelly      Kapoor      Kelly Kapoor
6     Angela      Martin     Angela Martin
7      Kevin      Malone      Kevin Malone
8      Oscar    Martinez    Oscar Martinez
9       Andy     Bernard      Andy Bernard
10   Stanley      Hudson    Stanley Hudson
11   Phyllis       Lapin     Phyllis Lapin
12      Toby  Flenderson   Toby Flenderson
13      Erin      Hannon       Erin Hannon
14      Gabe       Lewis        Gabe Lewis
15    Darryl     Philbin    Darryl Philbin
16     Creed     Bratton     Creed Bratton
17        Jo     Bennett        Jo Bennett
18     Holly        Flax        Holly Flax
19       Jan    Levinson      Jan Levinson
20      Todd      Packer       Todd Packer
21   Charles       Minor     Charles Minor
22  Deangelo     Vickers  Deangelo Vickers
23      Josh      Porter       Josh Porter
24        Ed       Truck          Ed Truck
25     David     Wallace     David Wallace

In [89]:
left_merged = pd.merge(df1, df_api, how="left", on=["completename"])

In [91]:
left_merged = left_merged.dropna()

In [95]:
left_merged["completename"].unique()

array(['Michael Scott', 'Dwight Schrute', 'Jim Halpert', 'Pam Beesly',
       'Ryan Howard', 'Jan Levinson', 'Stanley Hudson', 'Kevin Malone',
       'Angela Martin', 'Phyllis Lapin', 'Creed Bratton', 'Kelly Kapoor',
       'Toby Flenderson', 'Darryl Philbin', 'Todd Packer', 'Ed Truck',
       'Josh Porter', 'David Wallace', 'Andy Bernard', 'Holly Flax',
       'Erin Hannon', 'Jo Bennett', 'Gabe Lewis', 'Deangelo Vickers'],
      dtype=object)

In [102]:
# hacer strip para sacar el de oscar y charles minor (en el grande esta como charles miner) ESTA MAL EN EL DE LA API